body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #dbd9f1;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

.code {
    margin: 0px 40px 0px 40px;
    background-color: rgb(165, 150, 207);
    text-align: left;
    word-wrap: break-word
}

p,
ul {
    text-align: left;
}

#avatar {
    float: left;
}

header,
footer {
    height: 115px;
    margin: 40 px;
    background-color: #0f0d99;
    color: #b2b2f3;
    text-align: center;
}

footer a:link {
    color: #b2b2f3;
    text-decoration: none;
    border-bottom: thin dotted #b2b2f3;
}

footer a:visited {
    color: #b2b2f3;
    text-decoration: none;
    border-bottom: thin dotted #050227;
}

#gmail {
    list-style-image: url(images/gmail.png);
}

#skype {
    list-style-image: url(images/Skype.png);
}

#viber {
    list-style-image: url(images/viber.png);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    width: 24%;
    padding-left: 20px;
    order: 1;
}

.main {
    width: 70%;
    padding-left: 20px;
    order: 2;
}

@media only screen and (max-width: 800px) {
    .contact {
        flex-basis: 25%;
        height: 75%;
    }
    .main {
        height: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .contact {
        flex-basis: 25%;
        height: 75%;
    }
    .main {
        height: 100%;
    }
}